<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>
  <body>
    <h1>Add a Product</h1>
    <form action="/products" method="POST">
      <label for="name">Product Name</label>
      <input type="text" name="name" id="name" placeholder="product" />
      <br />
      <br />
      <label for="price">Price (Unit)</label>
      <input type="float" name="price" id="price" min="0" />
      <br />
      <br />
      <label for="category">Select Category</label>
      <select name="category" id="category">
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
      </select>
      <br />
      <br />
      <button>Add Product</button>
    </form>
    <br />
    <br />

    <a href="/products">All Products</a>
  </body>
</html>
