<%- include('./partials/head') %> 
<%- include('partials/navbar.ejs') %>
<h1 class="container">
  I am sorry, we could'nt find the subreddit: <%= subreddit %>
</h1>
<%- include('partials/footer.ejs') %>
 